<h2>Anúncios</h2>
<table class="table table-striped table-bordered">
	
	<thead>
		<tr>
			<th>Nome do anúncio</th>
			<th>Operações</th>
		</tr>
	</thead>
	<tbody>
		<% @ads.each do |ad| %>
			<tr>
				<td><%= ad.name %></td>
				<td><%= link_to 'Visualizar anúncio', ad %></td>
			</tr>
		<% end %>
	</tbody>
</table>