        <h3>Detalhes do anúncio</h3>
        <p>
        	<strong>Nome:</strong>  <%= @ad.name %>
        </p>
        <p>
        	<strong>Descrição:</strong></br>
        	 <%= @ad.description %>
        </p>
        <p>
        	<strong>Preço:</strong> <%= @ad.price %>
        </p>
        <p>
        	<strong>ID do Vendedor:</strong>  <%= @ad.seller_id %>
        </p>
        <p>
        	<strong>E-mail:</strong>  <%= @ad.email %>
        </p>
        <p>
        	<img src="<%= @ad.img_url %>" alt="<%= @ad.name %>" class="media" />
        </p>
        <%= link_to 'Voltar', ads_path %>